
<div class="container">
    <hr>
    <p class="centered">Developed by <a href="http://twitter.com/biodevops">Martin Page</a> of <a
                href="http://www.danmaclean.info">Team MacLean</a></p>
</div>

<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
</body>
</html>
