<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GeeFuTu</title>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GeeFuTu</a>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <% if(locals.userName){ %>
                <% } else { %>
                <li><a href="/us">About Us</a></li>
                <% } %>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <% if(locals.userName){ %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%- locals.userName %> <span
                                class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="/signout">Sign Out</a></li>
                    </ul>
                </li>
                <% } else { %>
                <li><a href="/signin">Sign In</a></li>
                <% } %>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="flash">

    <% if(locals.info){ locals.info.forEach(function(flash, index) { %>
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
        <p><%- flash %></p>
    </div>
    <% })} %>

    <% if(locals.success){ locals.success.forEach(function(flash, index) { %>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
        <p><%- flash %></p>
    </div>
    <% })} %>

    <% if(locals.error){  locals.error.forEach(function(flash, index) { %>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
        <p><%- flash %></p>
    </div>
    <% })} %>
</div>
