<% include head %>

<div class="masthead">
    <h1>GeeFu</h1>
</div>

<div class="row mb centered" id="frontPageSignUp">
    <div class="col-sm-8">
        <h1>Sharing Data Is Cool<br><a href="http://i.imgur.com/G5NdxmZ.gif">Trust Me, I'm a Hipster.</a></h1>
        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever.</h4>
    </div>
    <div class="col-sm-4">
        <form role="form" action="/signup" method="post">
            <input type="text" class="form-control" id="username" name="username" placeholder="Pick a username"
                   required>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
            <input type="password" class="form-control" id="password" name="password" placeholder="Create a password"
                   required>
            <button type="submit" class="btn btn-success form-control">Sign up for GeeFu</button>
        </form>
    </div>
</div>
<!-- /row -->

<div class="container">

    <div class="row mt mb centered">
        <div class="col-sm-4">
            <img src="/img/icons/Beer.png" width="180" alt="">
            <h4>GeeFuTu Is Free</h4>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever.</p>
        </div>
        <!--/col-sm-4 -->

        <div class="col-sm-4">
            <img src="/img/icons/Pencil.png" width="180" alt="">
            <h4>You Will Be Recognised For Your Contributions</h4>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever.</p>

        </div>
        <!--/col-sm-4 -->

        <div class="col-sm-4">
            <img src="/img/icons/Cake.png" width="180" alt="">
            <h4>Free Cake?</h4>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever.</p>

        </div>
        <!--/col-sm-4 -->
    </div>
    <!-- /row -->
</div>

<% include foot %>
